body {
    font-family: 'Libre Baskerville'
}

/*menu*/
.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c30010;
  }

  .menu-li {
    float: left;
  }

  .menu-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-li a:hover:not(.active) {
    background-color: #ee6b6e;
  } 

/*imagen en INICIO*/
.contenedor {
    place-content: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #de0a26;
    opacity: 0.5;
}

.titulo-index {
    font-size: 6rem;
    color: #ffcbd1;
}

/*cards*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

/*JUEGOS*/

.wrapper-juegos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contactos {
  text-align: center;
  background-image: url(/img/fondoinicio.jpg);
}